node_modules/
chrome_data*/
app/chrome_data*/
resources/app/venv/
__pycache__/
*.pyc
.env
dist/
out/
Gerar_Instalador_Final.bat
.git/index.lock
*.html
*.png
!assets/*.png
*.txt
venv/
app/venv/
.pytest_cache/
app/.pytest_cache/
*.log
